/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none }
.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }
/* FlexSlider Necessary Styles
*********************************/
.flexslider { margin: 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; position: relative; }
/* Hide the slides before the JS is loaded. Avoids image jumping */
.slides-shadow { position: absolute; left: 0; top: 0; width: 100%; height: 100%; -webkit-box-shadow: inset 0px -35px 40px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: inset 0px -35px 40px 0px rgba(0, 0, 0, 0.75); box-shadow: inset 0px -35px 40px 0px rgba(0, 0, 0, 0.75); z-index: 10; }
.flexslider .slides img { width: 100%; display: block; }
.flex-pauseplay span { text-transform: capitalize }
/* Clearfix for the .slides element */
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block }
* html .slides { height: 1% }
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block }
.slider-widget-container .slider-container.loading:before, .carousel-container.loading:before { content: 'Loading Carousel...'; display: block; margin: 0; text-align: center; color: #1B1B1B; font-weight: bold; font-size: 18px; }
.slider-widget-container .slider-container.loading:before { padding-top: 10px }
/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; overflow: inherit !important; z-index: 99; }
#carousel { padding: 0 1.5% 15px; background: #fff; width: 100%; top: -10px; overflow: hidden; -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#carousel .flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; overflow: hidden; padding-top: 25px; z-index: 999; }
#carousel li { margin-right: 11px; cursor: pointer; }
.single-carousel .flex-viewport { overflow: hidden !important }
.loading .flex-viewport { max-height: 300px }
.flexslider .slides { zoom: 1 }
.carousel-container.loading li { display: none }
.carousel-container { background: #FFF; padding: 12px; margin-bottom: 28px; -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); }
.single-carousel { position: relative }
.single-carousel li { margin-right: 5px; position: relative; overflow: hidden; }
.single-carousel img { display: block; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.single-carousel li:hover img { -moz-transform: scale(1.1) rotate(2deg); -webkit-transform: scale(1.1) rotate(2deg); -o-transform: scale(1.1) rotate(2deg); -ms-transform: scale(1.1) rotate(2deg); transform: scale(1.1) rotate(2deg); }
.single-carousel h6 { position: absolute; height: 147px; width: 200px; bottom: 0; z-index: 100; }
.single-carousel h6 span { color: #fff; font-size: 15px; position: absolute; bottom: 0px; padding: 10px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.single-carousel h6 a:hover { color: #fe9638; font-size: 15px; }
.single-carousel .flex-direction-nav { position: absolute; width: 100%; top: 0; height: 100%; }
.single-carousel .flex-direction-nav li { margin: 0; overflow: visible; }
.single-carousel .flex-direction-nav a { background: #000; text-align: center; position: absolute; outline: 0; width: 30px; height: 147px; top: 0; line-height: 150px; opacity: 0.5; text-indent: 0; margin: 0; border-radius: 0; border: 0; }
.single-carousel .flex-direction-nav a:hover { opacity: 0.80; color: #fff; }
.single-carousel .flex-direction-nav .flex-prev { left: 0px }
.single-carousel .flex-direction-nav .flex-next { right: 0px }
.flex-active-slide { position: relative }
.flexslider .slides li.flex-active-slide .slides-shadow { background: none; -webkit-box-shadow: inset 0px -50px 126px 0px rgba(0,0,0,0.75); -moz-box-shadow: inset 0px -50px 126px 0px rgba(0,0,0,0.75); box-shadow: inset 0px -50px 126px 0px rgba(0,0,0,0.75); }
.flex-active-slide .arrowTop { position: absolute; top: -12px; left: 50%; margin-left: -10px; margin-top: -14px; width: 0px; height: 0px; border-style: solid; border-width: 0 10.5px 11px 10.5px; border-color: transparent transparent #ffffff transparent; }
/* Direction Nav */
.flex-direction-nav { *height: 0   }
.flex-direction-nav a { width: 50px; height: 50px; margin: -20px 0 0; display: block; color: #FFF; position: absolute; top: 44%; z-index: 10; cursor: pointer; opacity: 0; -webkit-transition: all .3s ease; z-index: 9999; font-size: 50px; text-align: center; border: 2px solid #fff; border-radius: 50%; }
.banner .flex-direction-nav a, .photo-gallery .flex-direction-nav a { color: #fff }
.flex-direction-nav .flex-next { background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev { left: -36px }
.flexslider:hover .flex-next { opacity: 0.8; right: 20px; }
.flexslider:hover .flex-prev { opacity: 0.8; left: 20px; }
.flexslider:hover .flex-next i { margin-right: -3px }
.flexslider:hover .flex-prev i { margin-left: -3px }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1 }
.flex-disabled { opacity: .2; filter: alpha(opacity=30); cursor: default; }
/* Control Nav */
.flex-control-nav { width: 100%; position: absolute; bottom: -40px; text-align: center; }
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-paging li a { width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }
.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }
.flex-control-thumbs li { width: 25%; float: left; margin: 0; }
.flex-control-thumbs img { width: 100%; display: block; opacity: .7; cursor: pointer; }
.flex-control-thumbs img:hover { opacity: 1 }
.flex-control-thumbs .flex-active { opacity: 1; cursor: default; }
.slider { position: relative }
.slider-extra { display: none }
.slider-extra > div { position: absolute; top: 0; width: 100%; }
.slider-extra > div.first { right: -200%; -webkit-transition: right 0.6s; -moz-transition: right 0.6s; transition: right 0.6s; }
.slider-extra > div.last { left: -200%; -webkit-transition: left 0.6s; -moz-transition: left 0.6s; transition: left 0.6s; }
.slider-extra > div.first.show { right: -100% }
.slider-extra > div.last.show { left: -100% }
.slider-extra img { display: block }
.banner-content { position: absolute; bottom: 30px; margin: 0 60px; color: #fff; opacity: 0; display: none; }
.flex-active-slide .banner-content { opacity: 1; z-index: 9999; margin: 0px 20px 0px 20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6); display: block; }
.banner-content h2 { font-size: 40px; color: #FFF; line-height: 1.2; margin-bottom: 0; }
.banner-content h2 a { color: #fff }
.banner-content h2 a:hover { color: #FE9638 }
.banner-content .post-info, .banner-content .post-info a, .banner-content .post-info .thetime { color: #fff; font-size: 12px; }
.banner-content .post-info i { margin-right: 5px }
#carousel.flexslider ul.flex-direction-nav { display: none }
.photo-gallery { overflow: hidden; width: 100%; padding: 20px 0; }
.photo-gallery.top { padding-top: 0; }
.photo-gallery h2 { margin-bottom: 15px; color: #fe9638; }
.photo-gallery .banner-content h2 { font-size: 20px; color: #fff; margin: 0px; }
.photo-gallery #carouse2 { padding: 15px; background: #fff; -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); }
.photo-gallery #carouse2 .flex-viewport li { margin-right: 2%; cursor: pointer; width: 18.4%!important; }
.photo-gallery .flexslider#carouse2 ul { width: 100%!important }
.photo-gallery #carouse2 .flex-viewport li:last-child { margin-right: 0 }
.photo-gallery #carouse2.flexslider ul.flex-direction-nav { display: none }
.photo-gallery .flexslider ul { margin: 0px }
.photo-gallery .flexslider ul li { list-style: none }
div.widget-slider ul.slides li { padding: 0; margin-top: 15px; margin-right: 17px; border: none; }
.f-widget div.widget-slider ul.slides li { margin-top: 0 }
div.widget-slider ul.slides li:first-child { padding: 0 }
div.widget-slider ul.slides li:last-child { margin-right: 0 }
#sidebars ul.slides li img { margin: 0; max-width: 125px; }
.slider-widget-container { background: #fff; -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1); }
.f-widget .slider-widget-container { background: none ; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
.widget-slider { position: relative; width: 89%; margin: 0 auto; padding-bottom: 15px; }
footer .widget-slider { margin: 0; }
.slider-widget-container .slider-container.loading .widget-slider { height: 0; overflow: hidden; opacity: 0;}
footer .slider-widget-container .slider-container.loading:before { color: #fff; text-align: left; font-size: 14px; padding-top: 0; }
.widget-slider .flex-viewport { overflow: hidden !important }
.sidebar .widget-slider .flex-direction-nav, footer .widget-slider .flex-direction-nav { position: absolute; top: -32px; right: 0; background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.f-widget .widget-slider .flex-direction-nav { top: -45px }
.widget-slider .flex-direction-nav a { position: static; display: inline; text-decoration: none; color: #FFF!important; text-indent: 0; opacity: 1; font-size: 14px; margin-left: 10px; border: 0; background: none; }
.sidebar .widget-slider .flex-direction-nav li, footer .widget-slider .flex-direction-nav li { padding: 0; margin: 0; border: none; display: inline-block; padding-top: 0!important; }
.widget .flex-caption { overflow: hidden; clear: both; padding-top: 5px; }
.clone .slides-shadow { display: none }
.flexslider .slides .clone img { opacity: 0 }
#carousel .slides { width: 100%!important }
#carousel .slides { width: 100%!important; -webkit-transform: none!important; transform: none!important; }
#carousel li { width: 13.3%!important; margin-right: 1.14%; }
#carousel li:last-child { margin-right: 0 }
@media screen and (max-width: 860px) { 
    .flex-direction-nav a { font-size: 38px; width: 48px; height: 48px; line-height: 48px; top: 20px; border-radius: 0; }
    .flex-direction-nav .flex-prev { opacity: 1; left: 0; }
    .flex-direction-nav .flex-next { opacity: 1; right: 0; }
}