/*-----------------------------------------------
/* Responsive
/*---------------------------------------------*/
.main-container { max-width: 96% }
.visible-sub-menu {
    display: block;
    visibility: visible;
}
@media screen and (max-width:1100px) { 
    .shareit {
        position: relative;
        width: 100%;
        top: 0;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        padding-top: 10px;
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
@media screen and (max-width:1000px) { 
    #move-to-top {
        margin-right: 0;
        right: 5px;
    }
    .ss-full-width .latestPost { width: 24% }
}
@media screen and (max-width:960px) {  /*-[ Responsive Navigation ]--------------------------------*/
    #mobile-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        overflow: auto;
        overflow-x: hidden;
        background: #222;
        -ms-transform: translate(-300px,0);
        -webkit-transform: translate(-300px,0);
        transform: translate(-300px,0);
        -webkit-transition: -webkit-transform 500ms ease;
        transition: transform 500ms ease;
        z-index: 199;
    }
    .main-header, .main-container, body > .banner {
        -ms-transform: translate(0,0);
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        -webkit-transition: -webkit-transform 500ms ease;
        transition: transform 500ms ease;
    }
    .mobile-menu-active #mobile-menu-wrapper {
        -ms-transform: translate(0,0);
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    .main-container-wrap {
        -webkit-transition: -webkit-transform 500ms ease;
        transition: transform 500ms ease;
    }
    .mobile-menu-active .main-container-wrap {
        -ms-transform: translate(300px,0);
        -webkit-transform: translate(300px,0);
        transform: translate(300px,0);
        overflow: hidden;
    }
    #mobile-menu-wrapper .menu { background: none }
    #mobile-menu-wrapper ul li {
        width: 100%;
        display: block;
    }
    #mobile-menu-wrapper #navigation ul li:hover { background: none }
    #mobile-menu-wrapper ul li a, #mobile-menu-wrapper #navigation ul ul a {
        padding: 9px 0;
        width: 100%;
        border: none;
    }
    #mobile-menu-wrapper #navigation ul ul {
        display: block;
        position: static;
        width: 100%;
        border: none;
    }
    #mobile-menu-wrapper #navigation ul ul li {
        background: none;
        width: 100%;
    }
    .secondary-navigation {
        clear: both;
        margin: 30px 0;
    }
    #navigation a:after { content: none !important }
    .secondary-navigation, #navigation {
        border: none;
        background: #151515;
    }
    .main-header #navigation .menu { display: none }
    .search-top {
        padding-top: 15px;
        text-align: center;
        float: none;
        width: 300px;
        padding-top: 0;
        margin: 0px auto;
        display: inline-block;
    }
    .mts-cart {
        clear: both;
        float: none;
        text-align: center;
        line-height: 1;
        padding-top: 15px;
    }
    .search-top #s {
        float: left;
        position: inherit;
        background: #1c1c1c;
        color: #a6a6a6;
        width: 256px;
        padding: 0 15px;
        height: 44px;
        border-right: none;
        opacity: 1;
        padding-left: 10px;
        border-bottom: 0;
    }
    .search-top #s:focus { color: #fff }
    #header .fa-search {
        float: left;
        font-size: 20px;
        background: #252525!important;
        display: inline-block;
        padding: 0px;
        line-height: 44px;
        height: 44px;
        width: 44px;
        margin-left: 0;
    }
    #menu {
        display: block;
        position: relative;
        z-index: 99;
    }
    #menu li:hover a { background: #000 }
    #menu li:hover li a { background: #111 }
    #menu li ul li { margin: 0px }
    #menu li ul li a {
        padding: 10px !important;
        background: none;
        width: 95% !important;
    }
    #menu li ul li a:last-child {
        margin: 0px !important;
        border: none;
    }
    .secondary-navigation {
        width: auto;
        position: relative;
        margin: 0 auto;
        text-align: center;
        float: none;
        display: inline-block;
    }
    .logo-wrap {
        margin: 10px 0px 20px;
        text-align: center;
        float: none;
    }
    #logo {
        display: inline-block;
        margin: 0 auto;
    }
    #sticky {
        position: relative!important;
    }
    .image-logo {
        margin-top: 10px!important;
    }
    #header #logo { float: none }
    #header {
        padding-bottom: 20px;
        text-align: center;
    }
    #navigation ul {
        width: 100%;
        margin: 0px;
    }
    #navigation .menu a {
        color: #fff!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
    #navigation .menu {
        float: none;
        background: transparent;
    }
    #navigation ul {
        width: 100%;
        height: auto;
    }
    #navigation li, #navigation ul li {
        width: 100%!important;
        float: left;
        position: relative;
    }
    #navigation li a {
        border-bottom: 1px solid #000!important;
        width: 100%!important;
    }
    #navigation a {
        text-align: left;
        width: 100%;
        text-indent: 20px;
    }
    #navigation a#pull {
        display: inline-block;
        background-color: #222;
        width: 100%;
        position: relative;
        color: #fff;
        padding: 10px 0;
        text-align: right;
        padding-left: 28px;
        padding-right: 15px;
        text-transform: inherit;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    a#pull:before {
        content: "\f00b";
        font-family: fontawesome;
        display: inline-block;
        font-size: 22px;
        position: absolute;
        left: 15px;
        top: 11px;
        text-indent: initial;
    }
    #menu li a {
        padding: 15px 0px 15px 0px;
        text-align: left;
        background: #151515;
    }
    .main-header .container { width: 96% }
    .banner { width: 96% }
    #menu .theauthor, .thetime { margin-right: 24px }
    #carousel li {
        width: 13.4%!important;
        margin-right: 1%;
    }
    .widget.advertising { padding-top: 10px }
    .widget ul .slide { margin-left: 11px }
    .widget .tabs .ui-tabs-panel .latestpost li .theauthor { margin-right: 14px }
    .footer-widgets .f-widget { width: 31.5% }
    .footer-widgets.widgets-4-columns .f-widget { width: 22.5% }
    #wpmm-megamenu { display: none; }
}
@media screen and (max-width:900px) { 
    .main-header .container { width: 96% }
    .banner-content h2, .main-container .single_post-img header .single-title { font-size: 38px }
    #menu li a { padding: 0px 9px }
    #menu .theauthor, .thetime { margin-right: 8px }
    #carousel li { /* width: 109px !important  */  }
    .latestPost .star-rating-thumbs {
        padding: 0px 15px;
        font-size: 10px;
    }
    .photo-gallery .banner-content h2 { font-size: 20px !important }
    .widget.advertising { padding-top: 10px }
    .widget ul .slide {
        margin-left: 8.5px;
        width: 120px !important;
    }
    .widget .tabs .ui-state-default a { font-size: 14px }
    .widget .tabs .ui-tabs-panel .latestpost li .theauthor { margin-right: 14px }
    .widget .tabs .ui-tabs-panel .latestpost li .thetime, .widget .tabs .ui-tabs-panel .latestpost li .theauthor {
        display: block;
        float: none;
    }
}
@media screen and (max-width:865px) { 
    .banner-content h2, .main-container .single_post-img header .single-title { font-size: 34px }
    #menu .theauthor, .thetime { margin-right: 8px }
    .latestPost .star-rating-thumbs {
        padding: 0px 15px;
        font-size: 10px;
    }
    .photo-gallery .banner-content h2 { font-size: 20px !important }
    .widget.advertising { padding-top: 15px }
    .widget ul .slide {
        margin-left: 10px;
        width: 113px !important;
    }
    .widget .tabs .ui-state-default a { font-size: 13px }
    .widget .tabs .ui-tabs-panel .latestpost li .theauthor { margin-right: 14px }
    .widget .tabs .ui-tabs-panel .latestpost li .thetime { display: block }
    .latestPost:nth-child(3n) { margin-right: 2% !important }
    .latestPost, .latestPost, .latestPost.last, .ss-full-width .latestPost, .latestPost, .ss-full-width .latestPost.last {
        width: 49%;
        margin-right: 2%!important;
    }
    .mts-blog-layout .latestPost {
        width: 100% !important;
    }
    .mts-grid-layout .latestPost:nth-of-type(3n-8), .single .related-posts .latestPost:nth-of-type(3n-8) { clear: none }
    .latestPost:nth-child(2n+2), .ss-full-width .latestPost:nth-child(2n+2) { margin-right: 0px !important }
    .ss-full-width .latestPost { width: 32% }
    .ss-full-width .latestPost:nth-child(3n) { margin-right: 0 !important }
    .ss-full-width .latestPost:nth-child(2n) { margin-right: 2% !important }
    .top { float: none }
    .ajax-search-results-container { display: none !important }
}
@media screen and (max-width:728px) { 
    .logo-wrap {
        margin-bottom: 20px;
        margin-top: 0;
        width: 100%;
    }
    .banner-content h2, .main-container .single_post-img header .single-title { font-size: 30px }
    .photo-gallery .banner-content h2 { font-size: 18px }
    .latestPost .thetime { display: block }
    .widget.advertising { padding-top: 10px }
    .widget ul .slide {
        margin-left: 5px;
        width: 100px !important;
    }
    .widget .bar-style h4 { font-size: 12px }
    .widget .latestpost li { padding: 10px }
    .widget .tabs .ui-state-default a { font-size: 12px }
    .widget .tabs .ui-tabs-panel .latestpost li .theauthor { margin-right: 14px }
    .widget .tabs .ui-tabs-panel .latestpost li .thetime { display: block }
}
@media screen and (max-width:720px) { 
    .secondary-navigation a {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    .article { width: 100% }
    #content_box {
        padding-right: 0px;
        padding-left: 0px!important;
    }
    .banner-content h2, .main-container .single_post-img header .single-title { font-size: 26px }
    .sidebar.c-4-12 {
        float: none;
        margin: 0 auto;
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    }
    #comments { margin-right: 0 }
    .widget-header .textwidget {
        margin-top: 0;
        padding-left: 0;
        border-left: none;
    }
    .latestPost, .latestPost, .latestPost.last, .ss-full-width .latestPost, .latestPost, .ss-full-width .latestPost.last { width: 32% }
    .latestPost:nth-child(2n+2), .ss-full-width .latestPost:nth-child(2n+2) { margin-right: 2%!important }
    .latestPost:nth-child(3n), .ss-full-width .latestPost:nth-child(3n) { margin-right: 0px!important }
    .mts-grid-layout .latestPost:nth-of-type(3n-8), .single .related-posts .latestPost:nth-of-type(3n-8) { clear: left }
    .widget.advertising { padding-top: 15px }
    .widget .tabs .ui-state-default a { font-size: 14px !important }
    .widget ul .slide {
        width: 130px !important;
        margin-left: 15px !important;
    }
    .widget .bar-style h4 { font-size: 15px }
    .main-container .single_post-img header .single-title { font-size: 24px }
    .footer-widgets.widgets-4-columns .f-widget { width: 47% }
}
@media screen and (max-width:600px) { 
    .banner-content h2, .main-container .single_post-img header .single-title { font-size: 24px }
    .footer-widgets { text-align: center }
    footer .widget { text-align: initial }
    .footer-widgets .f-widget, .footer-widgets.widgets-4-columns .f-widget {
        width: 100%;
        max-width: 300px;
        margin-bottom: 15px;
        float: none;
        display: inline-block;
    }
}
@media screen and (max-width:550px) { 
    .banner-content h2, .main-container .single_post-img header .single-title { font-size: 20px }
    .sbutton { float: right }
    .mts-grid-layout .latestPost:nth-of-type(3n-8), .single .related-posts .latestPost:nth-of-type(3n-8) { clear: none }
    .latestPost:nth-child(3n), .ss-full-width .latestPost:nth-child(3n) { margin-right: 2% !important }
    .latestPost, .latestPost, .latestPost.last, .ss-full-width .latestPost, .latestPost, .ss-full-width .latestPost.last {
        width: 49%;
        margin-right: 2%;
    }
    .latestPost:nth-child(2n), .ss-full-width .latestPost:nth-child(2n) { margin-right: 0px !important }
}
@media screen and (max-width:480px) { 
    .copyrights { text-align: center }
    #copyright-note > span { float: none }
    .pagination-single li { width: 100% }
    .pagination-single li:first-child { margin-bottom: 10px }
}
@media screen and (max-width:400px) { 
    article header { overflow: hidden }
    .slidertext, .slider .post-info { display: none }
    .banner-content h2, .main-container .single_post-img header .single-title { font-size: 16px }
    .photo-gallery .banner-content h2 { font-size: 16px!important }
    .top { width: 100% }
    #commentform textarea { width: 96% }
    .latestPost, .latestPost, .latestPost.last, .ss-full-width .latestPost, .latestPost, .ss-full-width .latestPost.last { width: 100% }
}
@media screen and (max-width:320px) { 
    article header { float: none }
    .latestPost, .ss-full-width .latestPost {
        float: none;
        width: 100% !important;
    }
    .latest-cat-post #featured-thumbnail {
        width: 100%;
        max-width: 100%;
    }
    .photo-gallery .banner-content h2 { font-size: 14px!important }
    .latest-cat-post #featured-thumbnail .featured-thumbnail { float: none }
    #navigation li {
        display: block;
        float: none;
        width: 100%;
    }
    .banner-content h2, .main-container .single_post-img header .single-title { font-size: 17px !important }
    #navigation li a { border-bottom: 1px solid #576979 }
    .search-top { width: 100% }
    .search-top #s {
        float: left;
        width: 84%;
    }
    #header .fa-search { float: left }
}